* {
    border:0;
    box-sizing: 0;
    margin:0;
    padding:0;
}

.header {
    background:rgb(255, 255, 255);
    display: flex;
    height:60px;
    justify-content: center;
    box-shadow: 1px 1px 4px rgb(175, 175, 175);
    margin-bottom: 20px;
    font-family: cursive;
    

}

.libraryTitle {
    margin-left: 6px;
}
.bookShelf {

    display: flex;
    flex-wrap: wrap;
    justify-content:center;

}



.libraryIcons{
    display: flex;
    align-items: center;
}

.dummyBookShelf {
    background:rgb(231, 228, 228);
    border-radius:10px;
    width:300px;
    height:300px;
    display:flex;
    flex-direction:column;
    box-shadow: 1px 1px 4px rgb(125, 124, 124);
    margin-right:15px;
    margin-bottom: 20px;
    font-size: small;
    font-family: 'Kaisei HarunoUmi', serif;

    
}

.toolHolder {
    display:flex;
    justify-content: flex-end;
}

.bookTools{
    margin-right:5px;
    width:75px;

    display:flex;
    justify-content: space-evenly;
}

.bookDescription {
    word-wrap: break-word;
    width:270px;
    height:200px;

}



.bookStatsHolder {
    justify-content:flex-end;
    display:flex;

}

.bookStats {
    flex-wrap: wrap;
    display:flex;
    justify-content: space-around;
    width:175px;
    margin-right: 5px;
    margin-top:-5px;
}

.textHolder {
    display:flex;

    flex-direction:column;
    align-items: center;
    flex-wrap: wrap;
}



.addBook {
    background:rgb(83, 103, 239);
    color:white;
    width:100px;
    height:100px;
    position:fixed;
    top:85%;
    left:76%;
    border-radius:50%;
    line-height:100px;
    text-align: center;
    font-size:40px;
    box-shadow: 1px 1px 8px rgb(96, 96, 96);
}




.addShelf {
    background:red;
    width:400px;
    height:500px;
    position:fixed;
    top:20%;
    border-radius: 20px;
    left: 10%;

}

.exit {
    position:relative;
    left:90%;
    margin-top:10px;
}


.shelfInfo {

    
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius:20px;
}

.shelfElements {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:350px;
    height: 450px;
    background:green;
}

.titleTextHolder, .authorTextHolder, .textPageHolder {
    background:white;
    height:30px;
    width:200px;
    border-radius: 20px;
}

input[type = "text"]{

    font-family: 'Kaisei HarunoUmi', serif;
}

.descriptionText {
    font-family: 'Kaisei HarunoUmi', serif;
}



.descriptionTextHolder {
    background:white;
    width:300px;
    height:200px;
    border-radius:20px;
}

.descriptionText {
    position:relative;
    resize:none;
    top:5%;
    left:6%;
    
}

.titleText, .authorText, .pagesText {
    position:relative;
    top:20%;
    left:10%;
    width:160px;
}

.readStats {

    width:100px;
    display:flex;
    justify-content:space-around;
    position:relative;
    top:1%;
    left:30%;
}

.doneButton {
    background:red;
    width:100px;
    height:30px;
    margin-top:20px;
    border-radius: 20px;

}


@media only screen and (min-width: 1100px) {
    .addBook {
        position:fixed;
        left:50%;

    }
  }
